mat-card-content, mat-card-title, mat-card-actions {
  text-align: left;
}

mat-card-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.advanced-color{
  color: #3f51b5;
}

.beginner-color{
  color: #f44336;
}
